*
!.gitignore
!esphome/
!esphome/*.yaml
!esphome/_includes/*.yaml
!automations.yaml
!configuration.yaml
!customize.yaml
!groups.yaml
!includes/
!includes/*.yaml
!includes/*.d/
!includes/*.d/*.yaml
!scripts.yaml
!ui-lovelace.yaml
!make_config.py
!shadow_config
!shadow_config/*
