*
!.gitignore
!esphome/
!esphome/*.yaml
!automations.yaml
!configuration.yaml
!customize.yaml
!groups.yaml
!includes/
!includes/*.yaml
!includes/*.d/
!includes/*.d/*.yaml
!scripts.yaml
!ui-lovelace.yaml
