house_locks:
  name: House Locks
  icon: mdi:lock-reset
  entities:
    - binary_sensor.entrance_lock_contact
    - binary_sensor.zoo_lock_contact

downstairs_motion:
  name: Downstairs Motion Group
  entities:
    - binary_sensor.downstairs_motion_occupancy
    - binary_sensor.basement_motion_occupancy
    - binary_sensor.lounge_motion_occupancy

utility_meters:
  name: Utility Meters
  icon: mdi:counter
  entities:
{%- set count = 7 -%}
{%- for i in range(1,count+1) %}
    - utility_meter.um_daily_bw{{ i }}
    - utility_meter.um_monthly_bw{{ i }}
    - utility_meter.um_yearly_bw{{ i }}
{%- endfor %}

house_fans:
  name: House Fans
  icon: mdi:fan
  entities:
    - switch.bedroom_fan
    - switch.kids_fan
