{% set count = 7 -%}
{% for i in range(1,count+1) -%}
# BlitzWolf #{{ i }} Costs
- platform: template
  sensors:
    money_daily_bw{{ i }}:
      friendly_name: "BW #{{ i }} Daily Cost"
      unit_of_measurement: 'грн'
      entity_id:
        - sensor.um_daily_bw{{ i }}_day
        - sensor.um_daily_bw{{ i }}_night
      value_template: "{{ '{{' }} ((states('sensor.um_daily_bw{{ i }}_day')|float * 1.68) + (states('sensor.um_daily_bw{{ i }}_night')|float * 0.9)) |round(2) {{ '}}' }}"
      icon_template: mdi:square-inc-cash 
    money_monthly_bw{{ i }}:
      friendly_name: "BW #{{ i }} Monthly Cost"
      unit_of_measurement: 'грн'
      entity_id:
        - sensor.um_monthly_bw{{ i }}_day
        - sensor.um_monthly_bw{{ i }}_night
      value_template: "{{ '{{' }} ((states('sensor.um_monthly_bw{{ i }}_day')|float * 1.68) + (states('sensor.um_monthly_bw{{ i }}_night')|float * 0.9)) |round(2) {{ '}}' }}"
      icon_template: mdi:square-inc-cash 
    money_yearly_bw{{ i }}:
      friendly_name: "BW #{{ i }} Yearly Cost"
      unit_of_measurement: 'грн'
      entity_id:
        - sensor.um_yearly_bw{{ i }}_day
        - sensor.um_yearly_bw{{ i }}_night
      value_template: "{{ '{{' }} ((states('sensor.um_yearly_bw{{ i }}_day')|float * 1.68) + (states('sensor.um_yearly_bw{{ i }}_night')|float * 0.9)) |round(2) {{ '}}' }}"
      icon_template: mdi:square-inc-cash 

{% endfor -%}